{% assign identifier = site.data.usa_identifier %}
<footer class="usa-footer" role="contentinfo">
<div class="usa-footer__secondary-section">
  <div class="grid-container">
    <div class="grid-row grid-gap">
      <div class="usa-footer__contact-links mobile-lg:grid-col-12">
        <div class="usa-footer grid-row">
          <div class="grid-col-auto">
            This project is maintained by <a class="usa-link" href="https://18f.gsa.gov/">18F</a>
          </div>
        </div>
        <div class="usa-footer grid-row">
          <div class="grid-col-auto">
            Have questions or would like to contact us? Email us at <a class="usa-link" href="mailto:{{ identifier.site_email }}">{{ identifier.site_email }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include components/usa_identifier.html %}
</footer>

