/* @override http://localhost:4000/stylesheets/print.css */

/* @override http://localhost:4000/stylesheets/print.css */

/* @group bootstrap */

.site-header,
.site-footer,
.notice-print,
.layout-article-print nav.inline-navigation {
  display: none;
}

body{
  -webkit-print-color-adjust: exact;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  background: white;
  color: black;
  padding: 0;
  font-size: 12pt;
}

a{ color: inherit; }

a:after {
   content: " (" attr(href) ")";
}

@page {
  size: landscape;
  margin: 1in;
}
